* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: 21px $fontBase;
	background-image: url("../img/bgtexture.jpg");
	background-size: cover;
}

button {
	color: #fff;
	cursor: pointer;
	border: none;
	border-right: 5px solid #990C0C;
	border-bottom: 5px solid #990C0C;
	font: 21px $fontBase;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: $highlight;
	transition: all .3s;
}

button:hover {
	background-color: #990C0C;
	color: #fff;
}

section {
	width: 100%;
}