.infoBox {
	color: #fff;
	display: inline-block;
	background-color: rgba(0, 0, 0, .3);
	padding: 10px 15px;
	border-radius: 15px;
}

.xBtn {
	padding: 0 10px 3px 10px;
	border-radius: 5px;
	margin-left: 15px;
	cursor: pointer;
}

.bigBtn {
	font-size: 48px;
	padding: 10px 20px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 35%;
	left: 50%;
}